.login-page, .register-page {
	background-image: url("../../img/login-background.jpg");
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}

.cursor-pointer { 
	cursor: pointer; 
}

.nopadding {
   padding: 0 !important;
}

.nopadding-left {
   padding-left: 0 !important;
}

.nopadding-right {
   padding-right: 0 !important;
}

.drop-box {
    border: 5px dashed #DDD;
    width: 300px;
    height: 200px;
    background-image: url("../../img/no-image.jpg");
    background-repeat: no-repeat;
    background-position: center; 
}

.drop-box-preview {
	width: 300px;
    height: 200px;
    background-color: #000;
}

.drop-box.dragover {
    border: 5px dashed #F8F8F8;
}

.drop-box-preview.dragover {

}

.drop-box.dragover-err {
    border: 5px dashed #F8F8F8;
}

.angular-with-newlines {
  white-space: pre-wrap;
}

textarea {
    resize: none;
}

.section-collapsed {
	display: none;
}

.section-expended {
	display: block;
}

.conversation-participant {
	color: #3c8dbc;
}

.tweaked-margin {
    margin-right: 4px;
}

.application-header-connection-div {
	margin: 0;
	height: 60px;
    padding: 10px 10px;
    display: block;
    white-space: nowrap;
    border-bottom: 1px solid #f4f4f4;
}

.application-header-connection-div:after {
	content: " ";
    display: table;
}

.application-header-connection-h4 {
	padding: 0;
    margin: 0 0 0 45px;
    color: #444444;
    font-size: 15px;
    position: relative;
}

.application-header-connection-img {
	margin: auto 10px auto auto;
    width: 40px;
    height: 40px;
}
  
.profile-pigeon-img {
  margin: 0 auto;
  width: 600px;
  height: 400px;
  padding: 3px;
  border: 3px solid @gray;
}

.border {
	border: 1px solid #f4f4f4;
}

.search-results img {max-width: 128px !important;}