<div class="register-box">
    <main>
        <div class="register-box-body">
			
			<h4 class="login-box-msg">Reset your password</h4>
			
        	<p class="login-box-msg" ng-show="loginC.error">An error has occured.</p>  
			
            <form name="forgotPasswordC.form" ng-submit="forgotPasswordC.submitForm()" class="login-form" novalidate>
            			   
                   <div class="form-group has-feedback">
			        <input type="email" class="form-control" placeholder="Email" ng-model="forgotPasswordC.email" name="email" required="true" >
			        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
						<div ng-messages="forgotPasswordC.form.email.$error" ng-if="forgotPasswordC.form.email.$dirty || forgotPasswordC.form.$submitted">
						    <div ng-message="required">
						        Email is required!
						    </div>
						    <div ng-message="email">
						        Please enter a valid email!
						    </div>
						</div>
		      	</div>	
		      	<div class="row">
			        <div class="col-xs-4">
			          <button type="submit" class="btn btn-primary btn-block btn-flat">Continue</button>
			        </div>
		      	</div>
            </form>
			<a href="#/login" class="text-center">Back to login</a>
        </div>
    </main>
</div>