<div class="login-box">
    <main>    
        <div class="login-box-body">
        
        	<h4 class="login-box-msg">Sign in to start your session</h4>

        	<p class="login-box-msg" ng-bind="loginC.message"></p>  
        	      	 
            <form ng-submit="loginC.submitForm()" name="loginC.form" class="login-form" novalidate>
                   <div class="form-group has-feedback">
			        <input type="email" class="form-control" placeholder="Email" ng-model="loginC.email" name="email" ng-required="true" >
			        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
			        
					<div ng-messages="loginC.form.email.$error" ng-if="loginC.form.email.$dirty || loginC.form.$submitted">
					   <div ng-message="required">
					      Email is required!
					   </div>
		                <div ng-message="email">
		                  Please enter a valid email!
		                </div>
					</div>				
			        
		        </div>

                   <div class="form-group has-feedback">
			        <input type="password" class="form-control" placeholder="Password"  ng-model="loginC.password" name="password" ng-required="true">
			        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
						<div ng-messages="loginC.form.password.$error" ng-if="loginC.form.password.$dirty || loginC.form.$submitted">
						   <div ng-message="required">
						      Password is required!
						   </div>
						</div>
						</div>
			                    
		      	<div class="row">
			        <div class="col-xs-8">
			          <div class="">
			              <input type="checkbox" ng-model="loginC.remember"> Remember me 	   
			          </div>
			        </div>
			        <div class="col-xs-4">
			          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
			        </div>
		      	</div>
            </form>
            
		    <a href="#/forgot-password">I forgot my password</a><br>
		    <a href="#/new-user" class="text-center">Register a new membership</a>
            
        </div>
    </main>
</div>