<div class="register-box">
    <main>
        <div class="register-box-body">
			
			<h4 class="login-box-msg">Register a new membership</h4>
        	
        	<p class="login-box-msg" ng-show="loginC.error">An error has occured.</p>  
			
           	<form name="newUserC.form" ng-submit="newUserC.submitForm()" class="login-form" novalidate>
				
				<div class="form-group has-feedback">
			        <input type="firstName" class="form-control" placeholder="First Name" ng-model="newUserC.firstName" name="firstName" required = "true">
			        <span class="glyphicon glyphicon-user form-control-feedback"></span>			        
			        	<div ng-messages="newUserC.form.firstName.$error" ng-if="newUserC.form.firstName.$dirty || newUserC.form.$submitted">
						    <div ng-message="required">
						        First Name is required!
						    </div>
						</div>			        
		      	</div>	
		      	
		      	<div class="form-group has-feedback">
			        <input type="lastName" class="form-control" placeholder="Last Name" ng-model="newUserC.lastName" name="lastName" required = "true">
			        <span class="glyphicon glyphicon-user form-control-feedback"></span>
			        		      			<div ng-messages="newUserC.form.lastName.$error" ng-if="newUserC.form.lastName.$dirty || newUserC.form.$submitted">
						    <div ng-message="required">
						       Last Name is required!
						    </div>
						</div>	
		      	</div>	
		 
		      	
                <div class="form-group has-feedback">
			        <input type="email" class="form-control" placeholder="Email" ng-model="newUserC.email" name="email" required = "true">
			        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
			        	<div ng-messages="newUserC.form.email.$error" ng-if="newUserC.form.email.$dirty || newUserC.form.$submitted">
						    <div ng-message="required">
						       Email is required!
						    </div>
			                <div ng-message="email">
			                  Please enter a valid email!
			                </div>
						</div>				        
		      	</div>	
	
                   <div class="form-group has-feedback">
			        <input type="password" class="form-control" placeholder="Password" ng-model="newUserC.password" name="password" required = "true" ng-minlength="6" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
			        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
			        	<div ng-messages="newUserC.form.password.$error" ng-if="newUserC.form.password.$dirty || newUserC.form.$submitted">
						   <div ng-message="required">
						      Password is required!
						   </div>	
						<div ng-message="minlength">must have minimum 6 characters</div>
				  		 <div ng-message="pattern">At least one number and uppercase</div>
						</div>		        
		      	</div>		      	

				<div class="form-group has-feedback">
			        <input type="password" class="form-control" placeholder="Retype password" ng-model="newUserC.confirmPassword" name="confirmPassword" compare-to="newUserC.password">
			        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
		      			<div ng-messages="newUserC.form.confirmPassword.$error" ng-if="newUserC.form.confirmPassword.$dirty || newUserC.form.$submitted">
						   <div ng-message="compareTo">
						      Password should match!
						   </div>						   
						</div>	      	
		      	</div>     

		      	<div class="row">
			        <div class="col-xs-8">
			          <div class="">
			              <input type="checkbox"  ng-model="newUserC.agreeToTerms" name = "agreeToTerms" required = "true"> I agree to the <a data-toggle="modal" data-target="#myModal" href="">terms</a>
			              <div ng-messages="newUserC.form.agreeToTerms.$error" ng-if="newUserC.form.agreeToTerms.$dirty || newUserC.form.$submitted">
						   <div ng-message="required">
						      You must agree to the terms!
						   </div>						   
						</div>		   
			          </div>
			        </div>
			        <div class="col-xs-4">
			          <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
			        </div>
		      	</div>
            </form>
			<a href="#/login" class="text-center">I already have a membership</a>			
        </div>
    </main>
</div>
 <!-- Modal -->
 <div class="modal fade" id="myModal" role="dialog">
   <div class="modal-dialog">
   
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Terms & Conditions</h4>
       </div>
       <div class="modal-body">
         <p>By using our website you agree to be legally bound by these terms, which shall take effect immediately on your first use of our website. If you do not agree to be legally bound by all the following terms please do not access and/or use our website. We may change these terms at any time by posting changes online. Please review these terms regularly to ensure you are aware of any changes made by us. Your continued use of our website after changes are posted means you agree to be legally bound by these terms as updated and/or amended.</p>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>      
   </div>
 </div>

