<section class="content">
	
	<!--
	<div class="row">
    	<div ng-controller="ChatCtrl" class="container">
	      <form ng-submit="sendMessage()" name="messageForm">
	        <input type="text" placeholder="Compose a new message..." ng-model="message" />
	        <div class="info">
	          <span class="count" ng-bind="max - message.length" ng-class="{danger: message.length > max}">140</span>
	          <button ng-disabled="message.length > max || message.length === 0">Send</button>
	        </div>
	      </form>
	      <hr />
	      <p ng-repeat="message in messages | orderBy:'time':false" class="message">
	        <time>{{message.time | date:'HH:mm'}}</time>
	        <span ng-class="{self: message.self}">{{message.message}}</span>
	      </p>
	    </div>
    </div>
	-->
	
	<div class="row">
		
		
		<div class="col-md-5">
			
			<div class="box box-primary">
			  <div class="box-header with-border">
			    <h3 class="box-title">Conversations</h3>
			  </div>
			  <!-- /.box-header -->
			  <div class="box-body no-padding">
			    <div class="mailbox-controls">
			      <button type="button" class="btn btn-default btn-sm" ng-click="conversations.refresh()")><i class="fa fa-refresh"></i></button>
			      <div class="box-tools pull-right">
				      <div class="has-feedback">
						<input type="text" class="form-control input-sm" placeholder="Search Mail" ng-model="searchText">
						<span class="glyphicon glyphicon-search form-control-feedback"></span>
				      </div>
			      </div>
			      <!-- /.pull-right -->
			    </div>
			    <div class="table-responsive mailbox-messages">
			      <table class="table table-hover table-striped">
			        <tbody>
			        <!-- conversations -->
			        <tr style="cursor: pointer;" ng-repeat="conversation in conversations.conversations | filter:searchText" ng-click="conversations.selectConversation(conversation, $index)">
						<td class="mailbox-name">
							<span ng-if="conversation.participants.length == 1" class="conversation-participant"> 
								{{conversation.participants[0].firstName}} {{conversation.participants[0].lastName}}
							</span>
							<span ng-repeat="participant in conversation.participants" class="conversation-participant">
								<span ng-if="conversation.participants.length != 1 && $index < 3">
									{{participant.firstName}}{{$last ? '' : ','}}
								</span>
								<span ng-if="$index == 3">{{conversation.participants.length - 3}} other</span>
							</span>
						</td>
			         	<td class="mailbox-subject"><b>{{conversation.messages[0].message}}</b></td>
			          	<td class="mailbox-date">{{conversation.messages[0].time | date : 'HH:mm:ss' }}</td>
					</tr>
					<!-- /.conversations -->
			        </tbody>
			      </table>
			      <!-- /.table -->
			    </div>
			    <!-- /.mail-box-messages -->
			  </div>
			  <!-- /.box-body -->
			  <div class="box-footer no-padding">
			  
			  </div>
			</div>
		
		</div>
		
		
		<div class="col-md-7">
          <!-- DIRECT CHAT PRIMARY -->
          <div class="box box-primary direct-chat direct-chat-primary">
            
            <!-- .box-header -->
            <div class="box-header with-border">
              <h3 class="box-title" ng-if="!conversations.isNewMessage">
   				<span ng-if="conversations.currentConversation.participants.length == 1" class="conversation-participant"> 
					{{conversations.currentConversation.participants[0].firstName}} {{conversations.currentConversation.participants[0].lastName}}
				</span>
				<span ng-repeat="participant in conversations.currentConversation.participants" class="conversation-participant">
					<span ng-if="conversations.currentConversation.participants.length != 1 && $index < 3">
						{{participant.firstName}}{{$last ? '' : ','}}
					</span>
					<span ng-if="$index == 3">{{conversations.currentConversation.participants.length - 3}} other</span>
				</span>
              </h3>
              <div class="box-tools pull-right" ng-if="!conversations.isNewMessage">
              	<button type="button" class="btn btn-default btn-sm" ng-click="conversations.newMessage()"><i class="fa fa-plus"></i> Start new conversation</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="conversations.deleteConversation()"><i class="fa fa-times"></i></button>
              </div>
              <div class="box-title with-border" ng-if="conversations.isNewMessage">
              	<multiple-autocomplete ng-model="conversations.newMessageRecepients" object-property="firstName" suggestions-arr="conversations.friends" required="true"/>
              </div>
            </div>
            <!-- /.box-header -->
            
            <div class="box-body">
              <!-- Conversations are loaded here -->
              <div class="direct-chat-messages">
                <!-- Message. Default to the left -->

                <div class="direct-chat-msg" ng-class="message.sender.uuid == currentUser.uuid ? 'right' : ''" ng-repeat="message in conversations.currentConversation.messages " id="{{'message_' + $index}}">
                  <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name" ng-class="message.sender.uuid == currentUser.uuid ? 'pull-right' : 'pull-left'">{{message.sender.firstName}} {{message.sender.lastName}}</span>
                    <span class="direct-chat-timestamp" ng-class="message.sender.uuid == currentUser.uuid ? 'pull-left' : 'pull-right'">{{message.timestamp}}</span>
                  </div>
                  <!-- /.direct-chat-info -->
                  <img class="direct-chat-img" ng-src="{{'/images/' + message.sender.image.uuid}}" alt="Message User Image"><!-- /.direct-chat-img -->
                  <div class="direct-chat-text">
                    {{message.body}}
                  </div>
                  <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->

              </div>
              <!--/.direct-chat-messages-->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
            	<form ng-submit="conversations.send()">
	                <div class="input-group">
	                  <input type="text" name="message" placeholder="Type Message ..." class="form-control" ng-model="conversations.message" autocomplete="off">
	                      <span class="input-group-btn">
	                        <button type="submit" class="btn btn-primary btn-flat">Send</button>
	                      </span>
	                </div>
                </form>
            </div>
            <!-- /.box-footer-->
          </div>
          <!--/.direct-chat -->
        </div>
	</div>

</section>
