<section class="content">   
   
   <div class="row">
      <div class="col-md-3">
         <div class="box box-primary">
            <div class="box-body box-profile">
            	
               <div ngf-select ng-model="profile.file" class="center-block" accept="image/*" ngf-pattern="'image/*'" ng-if="profile.userInfoData.uuid == currentUser.uuid">
      				<img class="profile-user-img img-responsive img-circle" 
	      				  ng-src="{{'/images/' + profile.userInfoData.image.uuid}}" 
	      				  alt="User profile picture">
               </div>
               
               <img ng-if="profile.userInfoData.uuid != currentUser.uuid"
               		class="profile-user-img img-responsive img-circle" 
    				ng-src="{{'/images/' + profile.userInfoData.image.uuid}}" 
	      			alt="User profile picture">
               
               <h3 class="profile-username text-center">{{profile.userInfoData.firstName}} {{profile.userInfoData.lastName}}</h3>
               <p class="text-muted text-center" translate="PROFILE_FANCIER"></p>
               <ul class="list-group list-group-unbordered">
                  <li class="list-group-item">
                     <b>Friends</b> <a class="pull-right" ng-click="selectPane('friends', true)" href="">{{profile.numberOfFriends}}</a>
                  </li>
                  <li class="list-group-item">
                     <b>Pigeons</b> <a class="pull-right" ng-click="selectPane('pigeons', true)" href="">{{profile.numberOfPigeons}}</a>
                  </li>
                  <li class="list-group-item">
                     <b>Articles</b> <a class="pull-right" ng-click="selectPane('articles', true)" href="">{{profile.numberOfArticles}}</a>
                  </li>
               </ul>
               <a class="btn btn-primary btn-block" ng-show="profile.connectionStatus == 'AVAILABLE'" ng-click="profile.makeConnectionRequest()"><b>Connect</b></a>
               <a class="btn btn-warning btn-block" ng-show="profile.connectionStatus == 'AWAITING_ACCEPTANCE'" ng-click="profile.acceptConnectionRequest()"><b>Accept</b></a>
               <a class="btn btn-success btn-block" ng-show="profile.connectionStatus == 'CONNECTED'"><b>Connected</b></a>
               <a class="btn btn-warning btn-block" ng-show="profile.connectionStatus == 'PENDING'"><b>Pending...</b></a>
            </div>
            <!-- /.box-body -->
         </div>
         <!-- /.box -->
         <!-- About Me Box -->
         <div class="box box-primary">
            <div class="box-header with-border">
               <h3 class="box-title" translate="PROFILE_ABOUT_ME"></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
               <strong><i class="fa fa-university margin-r-5"></i>{{'PROFILE_ABOUT_ME_ALLIANCE' | translate}}</strong>
               <p class="text-muted">{{profile.userInfoData.alliance}}</p>
               <strong><i class="fa fa-sitemap margin-r-5"></i> {{'PROFILE_ABOUT_ME_CLUB' | translate}}</strong>
               <p class="text-muted">{{profile.userInfoData.club}}</p>
               <strong><i class="fa fa-map-marker margin-r-5"></i> {{'PROFILE_ABOUT_ME_LOCATION' | translate}}</strong>
               <p class="text-muted">{{profile.userInfoData.location}}</p>
               <strong><i class="fa fa-phone margin-r-5"></i> {{'PROFILE_ABOUT_ME_PHONE' | translate}}</strong>
               <p class="text-muted">{{profile.userInfoData.phone}}</p>
               <strong><i class="fa fa-file-text-o margin-r-5"></i> {{'PROFILE_ABOUT_ME_AUTOBIOGRAPHY' | translate}}</strong>
               <p class="text-muted angular-with-newlines">{{profile.userInfoData.autobiography}}</p>
            </div>
            <!-- /.box-body -->
         </div>
         <!-- /.box -->
      </div>
      <div class="col-md-9">
			<div class="nav-tabs-custom" style="margin-bottom: 0px;">
				<ul class="nav nav-tabs">
					<li ng-class="{active:paneSelected.timeline}">
						<a ng-click="selectPane('timeline', true)" href="">Timeline</a>
					</li>
					<li ng-class="{active:paneSelected.pigeons}">
						<a ng-click="selectPane('pigeons', true)" href="">Pigeons</a>
					</li>
					<li ng-class="{active:paneSelected.articles}">
						<a ng-click="selectPane('articles', true)" href="">Articles</a>
					</li>
					<li ng-class="{active:paneSelected.friends}">
						<a ng-click="selectPane('friends', true)" href="">Friends</a>
					</li>
					<li ng-class="{active:paneSelected.activity}">
						<a ng-click="selectPane('activity', true)" href="">Activity</a>
					</li>
					<li ng-class="{active:paneSelected.about}" ng-if="profile.userInfoData.uuid == currentUser.uuid">
						<a ng-click="selectPane('about', true)" href="">About Me</a>
					</li>
				</ul>
			</div>
			
			<div class="tab-content" ui-view></div>
			
      </div>
   </div>
</section>