<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>150</h3>

                    <p>New Orders</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>

                    <p>Bounce Rate</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>44</h3>

                    <p>User Registrations</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>65</h3>

                    <p>Unique Visitors</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->

        <section class="col-lg-7 connectedSortable search-results" infinite-scroll="loadResults()">
<!--
            <div class="box-header">
                <div class="box-tools pull-right">
                    <span class="label label-danger">Search results</span>
                </div>
            </div>

            <div class="box-body no-padding">
                <ul class="users-list clearfix">
                    <li ng-repeat="user in searchResults">
                        <img class="img-circle" ng-src="{{'/images/' + user.image.uuid}}" alt="User Image">
                        <a class="users-list-name" ng-click="changeState('profile.timeline', {uuid : user.uuid})" style="cursor: pointer;">{{user.firstName}} {{user.lastName}}</a>
                        <span class="users-list-date">{{user.email}}</span>
                        <span ng-if="user.friend == true" class="label label-success">Connected</span>
                        <span ng-if="user.friend == false" class="label label-danger">Not Connected</span>
                    </li>
                </ul>
            </div>

-->
			<div class="box box-widget" ng-repeat="user in searchResults">
                <div class="box-header with-border">
                    <div class="user-block">
                        <img class="img-circle" ng-src="{{'/images/' + user.image.uuid}}" alt="User Image" ng-click="changeState('profile.timeline', {uuid : user.uuid})" style="cursor: pointer;">
                        <span class="username"><a ng-click="changeState('profile.timeline', {uuid : user.uuid})" style="cursor: pointer;">{{user.firstName}} {{user.lastName}}</a></span>
                        <span class="description">{{user.email}} 
	                        <span ng-if="user.friend == true" class="label label-success pull-right">Connected</span>
	                        <span ng-if="user.friend == false" class="label label-danger pull-right">Not Connected</span>
                        </span>
                    </div>
                </div>
            </div>

            <!-- /.box -->
        </section>
        <!-- /.Left col -->
    </div>
    <!-- /.row (main row) -->

</section>

