<header class="main-header">
 	<!-- Logo -->
  <a href="" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>L</b>GO</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Lub</b>GO</span>
  </a>
  
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a class="sidebar-toggle" data-toggle="offcanvas" role="button" ng-click="rootCtrl.collapseSidebarMenu()">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
      
        <!-- Messages-->
        
        <li class="dropdown messages-menu">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope"></i>
            <span class="label label-success">{{header.conversations.length}}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have {{header.conversations.length}} messages</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
               
               	<!-- start message -->
                <li ng-repeat="conversation in header.conversations">
                  <a href="">
                    <div class="pull-left">
                      <img ng-src="{{'/images/' + conversation.participants[0].image.uuid}}" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      {{conversation.messages[conversation.messages.length - 1].sender.firstName}} {{conversation.messages[conversation.messages.length - 1].sender.lastName}}
                      <small><i class="fa fa-clock-o"></i> {{conversation.messages[conversation.messages.length - 1].time | timeago}}</small>
                    </h4>
                    <p>{{conversation.messages[conversation.messages.length - 1].body}} </p>
                  </a>
                </li>
                <!-- end message -->
                
              </ul>
            </li>
            <li class="footer"><a ui-sref="conversations" translate="SEE_ALL_MESSAGES"></a></li>
          </ul>
        </li>
        
        
        <!-- Notifications -->
        
        <li class="dropdown notifications-menu">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell"></i>
            <span class="label label-warning" ng-if="header.notifications.length">{{header.notifications.length}}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have {{header.notifications.length}} notifications</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
              
                <li ng-repeat="notification in header.notifications">
                  <a ng-href="#{{notification.link}}" ng-click="header.markNotificationRead(notification.id)">
                    <i class="fa {{notification.clazz}}"></i> {{notification.message}}
                  </a>
                </li>
                
              </ul>
            </li>
            <li class="footer"><a ui-sref="notifications" translate="SEE_ALL_NOTIFICATIONS"></a></li>
            <li class="footer"><a ui-sref="notifications" ng-click="header.markAllNotificationsRead()">Mark all read</a></li>
          </ul>
        </li>
        
        
        
        <!-- Connection Requests -->
        
        <li class="dropdown messages-menu">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-user-plus"></i>
            <span class="label label-danger" ng-if="header.connections.length">{{header.connections.length}}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have {{header.connections.length}} connection requests</li>
            <li>
              <!-- inner menu: contains the actual data -->
              	<ul class="menu" ">
                
	                <!-- Connection request -->
	                <li ng-repeat="connection in header.connections">
						<div class="application-header-connection-div">
						   <div class="pull-left">
						     <img ng-src="{{'/images/' + connection.user.image.uuid}}" class="img-circle application-header-connection-img" alt="User Image">
						   </div>
						   <h4 class="application-header-connection-h4">
								<a href="" ng-click="changeState('profile.timeline', {uuid : connection.user.uuid})">
									{{connection.user.firstName}} {{connection.user.lastName}}
								</a>
						   </h4>
						   <div class="pull-right">
							   <div class="pull-right">
							   		<button type="button" class="btn btn-block btn-danger btn-xs" ng-click="header.rejectConnectionRequest(connection.user.uuid, $index)">Reject</button>
							   </div>
							   <div class="pull-right tweaked-margin">
							   		<button type="button" class="btn btn-block btn-primary btn-xs" ng-click="header.acceptConnectionRequest(connection.user.uuid, $index)">Accept</button>
							   </div>
						   </div>
						</div>
	                </li>
	                <!-- End Connection request -->
                
              	</ul>
            </li>
            <li class="footer">
              <a ng-click="changeState('profile.friends', {uuid : currentUser.uuid})" translate="SEE_ALL_FRIENDS"></a>
            </li>
          </ul>
        </li>
        
        
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a ng-click="changeState('profile.timeline', {uuid : currentUser.uuid})" href="">
            <img ng-src="{{'/images/' + currentUser.image.uuid}}" class="user-image" alt="User Image">
            <span class="hidden-xs">{{currentUser.firstName}} {{currentUser.lastName}}</span>
          </a>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="" data-toggle="control-sidebar" ng-click="rootCtrl.controlPanelCollapse()"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>