<aside class="control-sidebar control-sidebar-dark" ng-class="{'control-sidebar-open' : !rootCtrl.isControlPanelCollapsed()}">
  <div class="tab-content">
      <form method="post">
        <h3 class="control-sidebar-heading">General Settings</h3>

        <div class="form-group">
          <label class="control-sidebar-subheading">
            Report panel usage
            <input type="checkbox" class="pull-right" checked>
          </label>

          <p>
            Some information about this general settings option
          </p>
        </div>
        <!-- /.form-group -->

        <div class="form-group">
          <label class="control-sidebar-subheading">
            Allow mail redirect
            <input type="checkbox" class="pull-right" checked>
          </label>

          <p>
            Other sets of options are available
          </p>
        </div>
        <!-- /.form-group -->

        <div class="form-group">
          <label class="control-sidebar-subheading">
            Expose author name in posts
            <input type="checkbox" class="pull-right" checked>
          </label>

          <p>
            Allow the user to show his name in blog posts
          </p>
        </div>
        <!-- /.form-group -->

        <h3 class="control-sidebar-heading">Chat Settings</h3>

        <div class="form-group">
          <label class="control-sidebar-subheading">
            Show me as online
            <input type="checkbox" class="pull-right" checked>
          </label>
        </div>
        <!-- /.form-group -->

        <div class="form-group">
          <label class="control-sidebar-subheading">
            Turn off notifications
            <input type="checkbox" class="pull-right">
          </label>
        </div>
        <!-- /.form-group -->

        <div class="form-group">
          <label class="control-sidebar-subheading">
            Delete chat history
            <a href="javascript::;" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
          </label>
        </div>
        
        <div class="form-group">
          <label class="control-sidebar-subheading">
            Language
            	<div class="pull-right">
	           		<a href="" ng-click="changeLanguage('en')">
		   				<span class="lang-sm" lang="en" style="margin-left: 5px;"></span>
		   			</a>
		   			<a href="" ng-click="changeLanguage('rs')">
		  				<span class="lang-sm" lang="sr" style="margin-left: 5px;"></span>
		  			</a>
	  			</div>
          </label>
        </div>
      </form>
    </div>
</aside>

<div class="control-sidebar-bg" ng-style="rootCtrl.controlPanelStyle"></div>