<div class="box box-widget">
	<div class="box-header with-border">
	    <div class="user-block">
	        <img class="img-circle img-bordered-sm cursor-pointer" ng-src="{{'/images/' + post.user.image.uuid}}" alt="User Image" ng-click="changeState('profile.timeline', {uuid : post.user.uuid})">
	        <span class="username">
              <a ng-click="changeState('profile.timeline', {uuid : post.user.uuid})" href="">{{post.user.firstName}} {{post.user.lastName}}</a>
            </span>
	        <span class="description">Posted on {{post.date}}</span>
	    </div>
	    <!-- /.user-block -->
	    <div class="box-tools">
			<button type="button" class="btn btn-box-tool" data-widget="remove" ng-if="post.user.uuid == user.uuid">
				<a href="" class="pull-right btn-box-tool" text-type ="Are you sure you want to delete this post?" text-title ="Delete post" ng-click="deletePost(post.id)"><i class="fa fa-times"></i></a>
			</button>
		</div>
	</div>
    <div class="box-body">
	    <img class = "img-responsive pad" ng-if = "post.image.uuid != null" ng-src= "{{'/images/' + post.image.uuid}}"/>
        <p>{{post.description}}</p>
        <div class="attachment-block clearfix" ng-if="post.link != null">
            <img class="attachment-img" ng-if = "post.link.image.uuid!=null" ng-src= "{{'/images/' + post.link.image.uuid}}" alt="Attachment Image">

            <div class="attachment-pushed">
                <h4 class="attachment-heading"><a ng-href="{{post.link.url}}" target="_blank">{{post.link.title}}</a></h4>

                <div class="attachment-text">
                    {{::post.link.description}}
                </div>
                <!-- /.attachment-text -->
            </div>
            <!-- /.attachment-pushed -->
        </div>
        <button type="button" class="btn btn-default btn-xs" ng-click="shareLink()"><i class="fa fa-share"></i> Share</button>
        <button type="button" class="btn btn-default btn-xs" ng-click="toogleLike()"><i class="fa" ng-class="isLiked() ? 'fa-thumbs-o-down' : 'fa-thumbs-o-up'"></i> {{isLiked() ? 'Unlike' : 'Like'}}</button>
        <span class="pull-right text-muted">{{post.likes.length}} likes - {{post.children.length}} comments</span>
    </div>
    <!-- /.row -->
    <div class="box-footer box-comments" ng-hide="!post.children.length">
        <div class="box-comment" ng-repeat="comment in post.children track by comment.id">
            <!-- User image -->
            <img class="img-circle img-sm cursor-pointer" ng-src="{{'/images/' + comment.user.image.uuid}}" alt="User Image" ng-click="changeState('profile.timeline', {uuid : comment.user.uuid})">

            <div class="comment-text">
                <span class="username">
                	<a ng-click="changeState('profile.timeline', {uuid : comment.user.uuid})" href="">
                       {{comment.user.firstName}} {{comment.user.lastName}}
                    </a>
                    <span class="text-muted pull-right">{{comment.date}}</span>
                </span>
                <!-- /.username -->
                <a href="" class="pull-right btn-box-tool" ng-click="deleteComment($index, post.id, comment.id)" ng-if="comment.user.uuid == user.uuid || post.user.uuid == user.uuid">
                	<i class="fa fa-times"></i>
                </a>
                {{comment.description}}
            </div>
            <!-- /.comment-text -->
        </div>
        <!-- /.box-comment -->
    </div>
    <!-- /.box-footer -->
    <div class="box-footer">
        <form ng-submit="addComment(post.id)">
            <img class="img-responsive img-circle img-sm" ng-src="{{'/images/' + user.image.uuid}}" alt="Alt Text">
            <div class="img-push">
                <input type="text" class="form-control input-sm" placeholder="Press enter to post comment" ng-model="newCommentContent" ng-trim="true">
            </div>
        </form>
    </div>        
</div>