<div class="box box-widget">
	<form ng-submit="addPost()">
		<div class="box-body" ngf-drop ng-model="file" class=""
			ngf-drag-over-class="'dragover'" accept="image/*"
			ngf-pattern="'image/*'">
			<div class="col-sm-12">
				<div class="row">
					<img class="img-responsive img-circle img-sm"
						ng-src="{{'/images/' + user.image.uuid}}"
						alt="Alt Text">
					<!-- .img-push is used to add margin to elements next to floating images -->
					<div class="img-push">
						<textarea type="text" class="form-control input-sm"
							placeholder="Write a post..." ng-model="newPostContent"
							ng-trim="true" ng-paste="paste($event)" rows="3" style = "border: none; "></textarea>
					</div>
				</div>
				<div class="row">
					<div class="attachment-block clearfix"
						ng-show="!isEmptyLink()"">
						<a href="" class="pull-right btn-box-tool"
							ng-click="deleteLink()"><i class="fa fa-times"></i></a> <img
							ng-if = "linkContent.image.uuid!=null" class="attachment-img" 
							ng-src="/images/temp/{{linkContent.image.uuid}}"
							alt="Attachment Image">

						<div class="attachment-pushed">
							<h4 class="attachment-heading">
								<a ng-href="{{linkContent.url}}">{{linkContent.title}}</a>
							</h4>

							<div class="attachment-text">{{linkContent.description}}
							</div>
							<!-- /.attachment-text -->
						</div>
						<!-- /.attachment-pushed -->
					</div>
				</div>
				<div class="row">
					<img class="img-sm hide">
					<div class="img-push" style="margin-top: 5px; margin-left: 5px;">
						<img ngf-src="!file.$error && file"
							ngf-resize="{width: 100, height: 100, quality: 1.0, centerCrop: true}">
					</div>
				</div>
			</div>
		</div>
		<div class="box-footer">
			<div class="col-sm-9"></div>
			<div class="col-sm-1 nopadding-right">
				<button ngf-select ng-model="file" class="btn btn-block btn-sm"
					accept="image/*" ngf-pattern="'image/*'" ng-click = "clearImage()">
					<i class="fa fa-camera"></i>
				</button>
			</div>
			<div class="col-sm-2 nopadding-right">
				<button type="submit" class="btn btn-danger btn-block btn-sm">Post</button>
			</div>
		</div>
	</form>
</div>