<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
    
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img ng-src="{{'/images/' + currentUser.image.uuid}}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{currentUser.firstName}} {{currentUser.lastName}}</p>
          <a href=""><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      
      <!-- search form -->
      <form class="sidebar-form" ng-submit="rootCtrl.search()">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search..." ng-model="rootCtrl.term">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MENU</li>
       	<li>
          <a ng-click="changeState('home')" href="">
          	<i class="fa fa-circle-o text-aqua"></i>
            <span translate="HOME"></span>
          </a>
        </li>
        <li>
          <a ng-click="changeState('profile.timeline', {uuid : currentUser.uuid})" href="">
            <i class="fa fa-circle-o text-aqua"></i>
            <span translate="PROFILE"></span>
          </a>
        </li>
        <li>
          <a ng-click="changeState('conversations')" href="">
            <i class="fa fa-circle-o text-aqua"></i>
            <span translate="MESSAGES"></span>
            <span class="label label-primary pull-right"></span>
          </a>
        </li>
        <li>
          <a ng-click="changeState('auctions')" href="">
            <i class="fa fa-circle-o text-aqua"></i>
            <span translate="AUCTIONS"></span>
          </a>
        </li>
        <li>
          <a ng-click="changeState('lostFound')" href="">
            <i class="fa fa-circle-o text-yellow"></i>
            <span translate="LOST_FOUND"></span>
          </a>
        </li>
        <li>
          <a ng-click="changeState('events')" href="">
            <i class="fa fa-circle-o text-aqua"></i>
            <span translate="EVENTS"></span>
          </a>
        </li>
        <li>
          <a href="" ng-click="rootCtrl.logout()">
          	<i class="fa fa-circle-o text-red"></i>
            <span translate="SIGN_OUT"></span>
          </a>
        </li>
        <li>
        	<a ui-sref="help">
        		<i class="fa fa-book"></i> 
        		<span translate="HELP"></span>
        	</a>
        </li>
      </ul>
    </section>
    
    <!-- /.sidebar -->
    <footer style="color: #fff; margin-left: 20px; margin-top: 10px; font-size: 10px" class="footer">
	  <strong translate="COPY_RIGHTS"></strong>
	</footer>
</aside>