<div class="active tab-pane" id="aboutMe">
	<div class="box box-widget" style="padding: 10px;" ng-if="profile.userInfoData.uuid == currentUser.uuid">
		<form class="form-horizontal ng-pristine ng-valid" ng-submit="profile.updateBasicInfo()">
			<div class="box-header with-border">Basic info</div>
		  	<div class="box-body">
		   	 <div class="form-group">
		       <label for="inputFirstName" class="col-sm-2 control-label">First Name</label>
		       <div class="col-sm-9">
		          <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" ng-model="profile.userInfoData.firstName" required>
		       </div>
		    </div>
		    <div class="form-group">
		       <label for="inputLastName" class="col-sm-2 control-label">Last Name</label>
		       <div class="col-sm-9">
		          <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" ng-model="profile.userInfoData.lastName" required>
		       </div>
		    </div>
		    <div class="form-group">
		       <label for="inputEmail" class="col-sm-2 control-label">Email</label>
		       <div class="col-sm-9">
		          <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="profile.userInfoData.email" required>
		       </div>
		    </div>
		    <div class="form-group">
		       <label for="inputPhone" class="col-sm-2 control-label">Phone</label>
		       <div class="col-sm-9">
		          <input type="phone" class="form-control" id="inputPhone" placeholder="Phone" ng-model="profile.userInfoData.phone">
		       </div>
		    </div>
		   </div>
		   <div>
		   	<div class="form-group">
		       <div class="col-sm-offset-2 col-sm-9">
		          <button type="submit" class="btn btn-danger">Update</button>
		       </div>
		    </div>
		   </div>
		  </form>
		  <form class="form-horizontal ng-pristine ng-valid" ng-submit="profile.changePassword()">
		<div class="box-header with-border">Password</div>
		  	 <div class="box-body">
		   	 <div class="form-group">
		       <label for="inputOldPassword" class="col-sm-2 control-label">Old Password</label>
		       <div class="col-sm-9">
		          	<input type="password" class="form-control" id="inputOldPassword" placeholder="Old Password" ng-model="profile.passwordManager.oldPassword" required>
		       </div>
		    </div>
		    <div class="form-group">
		       <label for="inputNewPassword" class="col-sm-2 control-label">New Password</label>
		       <div class="col-sm-9">
		          	<input type="password" class="form-control" id="inputNewPassword" placeholder="New Password" ng-model="profile.passwordManager.newPassword" required>
		       </div>
		    </div>
		    <div class="form-group">
		       <label for="inputRetypePassword" class="col-sm-2 control-label">Retype Password</label>
		       <div class="col-sm-9">
		          	<input type="password" class="form-control" id="inputRetypePassword" placeholder="Retype Password" ng-model="profile.passwordManager.retypePassword" required>
		       </div>
		    </div>
		    <div class="form-group">
		       <div class="col-sm-offset-2 col-sm-9">
		          <button type="submit" class="btn btn-danger">Change Password</button>
		       </div>
		    </div>
		   </div>
		  </form>
		  <form class="form-horizontal ng-pristine ng-valid" ng-submit="profile.updateOtherInfo()">
		  <div class="box-header with-border">Other</div>
		  	<div class="box-body">
		  	 	<div class="form-group">
		       <label for="inputAlliance" class="col-sm-2 control-label" translate="PROFILE_ABOUT_ME_ALLIANCE"></label>
		       <div class="col-sm-9">
		          <input class="form-control" id="inputAlliance" placeholder="{{ 'PROFILE_ABOUT_ME_ALLIANCE' | translate }}" ng-model="profile.userInfoData.alliance">
		       </div>
		    </div>
		    <div class="form-group">
		       <label for="inputClub" class="col-sm-2 control-label" translate="PROFILE_ABOUT_ME_CLUB"></label>
		       <div class="col-sm-9">
		          <input type="text" class="form-control" id="inputClub" placeholder="{{ 'PROFILE_ABOUT_ME_CLUB' | translate }}" ng-model="profile.userInfoData.club">
		       </div>
		    </div>
		    <div class="form-group">
		       <label for="inputLocation" class="col-sm-2 control-label" translate="PROFILE_ABOUT_ME_LOCATION"></label>
		       <div class="col-sm-9">
		          <input type="text" class="form-control" id="inputLocation" placeholder="{{ 'PROFILE_ABOUT_ME_LOCATION' | translate }}" ng-model="profile.userInfoData.location">
		       </div>
		    </div>
		    <div class="form-group">
		       <label for="inputAutobiography" class="col-sm-2 control-label" translate="PROFILE_ABOUT_ME_AUTOBIOGRAPHY"></label>
		       <div class="col-sm-9">
		          <textarea class="form-control" rows="6" id="inputAutobiography" placeholder="{{ 'PROFILE_ABOUT_ME_AUTOBIOGRAPHY' | translate }}" ng-model="profile.userInfoData.autobiography"></textarea>
		       </div>
		    </div>
		    <div class="form-group">
		       <div class="col-sm-offset-2 col-sm-9">
		          <button type="submit" class="btn btn-danger" translate="PROFILE_ABOUT_ME_UPDATE"></button>
		       </div>
		    </div>
		  	</div>
		</form>
	</div>
</div>