<div class="active tab-pane" id="newArticle">

	<div class="box box-widget" style="padding: 10px;">
	
		<form class="form-horizontal ng-pristine ng-valid" ng-submit="article.publishArticle()">
			<div class="box-header">
				<b translate="PROFILE_ARTICLES_NEW_ARTICLE"></b>
			</div>
			<div class="box-header" style="cursor: pointer;">
				<div class="col-md-12">
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
			    				<div class="box-body">
									<div class="form-group">
			    						<label for="inputHeadLine" class="col-sm-2 control-label" translate="PROFILE_ARTICLES_TITLE"></label>
					                    <div class="col-sm-9">
					                          <input type="text" class="form-control" id="inputName" placeholder="{{ 'PROFILE_ARTICLES_TITLE' | translate}}" ng-model="article.article.title" required>
					                    </div>
				                    </div>
				                </div>
				            </div>
						</div>
						<div class="row">
			    			<div class="col-md-12">
			    				<div class="box-body">
			    					<div class="form-group">
					                     <div class="col-sm-12">
					                          <div id="inputBody" ng-model="article.article.body" text-angular></div>
					                     </div>
					                </div>
			    				</div>
			    			</div>
			    		</div>
					</div>
				</div>
			</div>
			<div class="box-body">
	    		<div class="row">
	    			<div class="col-md-12">
		           		<div class="form-group">
			                 <div class="col-sm-12">
		                    	<button type="submit" class="btn btn-danger center-block" translate="PROFILE_ARTICLES_SAVE"></button>
			                 </div> 
		              	</div>
		             </div>
	    		</div>
			</div>
		</form>
	</div>
</div>