<div class="active tab-pane" id="articles">

	<div class="box box-widget" style="padding: 10px;">
	
		<div class="box-header with-border" ng-if="currentUser.uuid == articles.uuid">
			<div class="col-sm-4">
			</div>
			<div class="col-sm-4 nopadding-right">
				<a class="btn btn-primary btn-block" ng-click="articles.writeANewArticle()"><b>Write a new Article</b></a>
			</div>
			<div class="col-sm-4">
			</div>
		</div>
		<div class="box-body" infinite-scroll="loadArticles()">
       		<ul class="products-list product-list-in-box nav">
                <li class="item" ng-repeat="article in articles.articles">
                	<div class="product-img" ng-click="articles.openArticle(article.uuid)">
                  		<img class="profile-user-img img-responsive img-circle" ng-src="/resources/img/article.jpg">
                  	</div>
					<div class="product-info">
						<a href="" class="product-title" ng-click="articles.openArticle(article.uuid)">
							{{article.title}}
						</a>
						<button type="button" class="btn btn-box-tool ng-scope pull-right" ng-if="articles.uuid == currentUser.uuid">
						  	<a href="" class="pull-right btn-box-tool" ng-click="deleteArticle(article.id, $index)">
						  		<i class="fa fa-times"></i>
						  	</a>
					    </button>
						<span class="product-description">
							{{article.date}}
						</span>
					</div>
                </li>
             	</ul>
		</div>
	</div>
</div>