<div class="active tab-pane" id="articlePreview">
	<div class="box box-widget">
		<div class="box-header text-center">
			<h1><b>{{article.article.title}}</b></h1>
		</div>
		<div class="box-body with-border" style="cursor: pointer;">
			<div class="col-md-12">
				<div class="box-body">
					<div class="row">
		    			<div class="col-md-12">
		    				<div class="box-body">
		    					<div class="form-group">
				                     <div class="col-sm-12" ta-bind ng-model="article.article.body"></div>
				                </div>
		    				</div>
		    			</div>
		    		</div>
				</div>
			</div>
		</div>
	
		<div class="box-footer">
			<button type="button" class="btn btn-default btn-xs" ng-click="shareLink()"><i class="fa fa-share"></i> Share</button>
	        <button type="button" class="btn btn-default btn-xs" ng-click="toogleLike()"><i class="fa" ng-class="isLiked() ? 'fa-thumbs-o-down' : 'fa-thumbs-o-up'"></i> {{isLiked() ? 'Unlike' : 'Like'}}</button>
	        <span class="pull-right text-muted">{{article.article.likes.length}} likes - {{article.article.comments.length}} comments</span>
		</div>
		<div class="box-footer box-comments" ng-hide="!article.article.comments.length">
			
	        <div class="box-comment" ng-repeat="comment in article.article.comments track by comment.id">
	            <!-- User image -->
	            <img class="img-circle img-sm" ng-src="{{'/images/' + comment.user.image.uuid}}" alt="User Image">
	
	            <div class="comment-text">
	                <span class="username">
		                {{comment.user.firstName}} {{comment.user.lastName}}
		                <span class="text-muted pull-right">{{comment.date}}</span>
	                </span>
	                <!-- /.username -->
	                <a href="" class="pull-right btn-box-tool" ng-click="deleteComment($index, comment.id)" ng-if="comment.user.uuid == currentUser.uuid || article.article.author.uuid == currentUser.uuid">
	                	<i class="fa fa-times"></i>
	                </a>
	                {{comment.description}}
	            </div>
	            <!-- /.comment-text -->
	        </div>
	        <!-- /.box-comment -->
		</div>
		<!-- /.box-footer -->
		<div class="box-footer">
		    <form ng-submit="addComment(post.id)">
		        <img class="img-responsive img-circle img-sm" ng-src="{{'/images/' + currentUser.image.uuid}}" alt="Alt Text">
		        <div class="img-push">
		            <input type="text" class="form-control input-sm" placeholder="Press enter to post comment" ng-model="newCommentContent" ng-trim="true">
		        </div>
		    </form>
		</div> 
	</div>
</div>


