<div class="active tab-pane" id="friends">

	<div class="box box-widget" style="padding: 10px;">
		
		<div class="box-header">
			<div class="box-tools pull-right">
				<span class="label label-danger">{{friends.connections.length}} Friends</span>
			</div>
		</div>
		
		<div class="box-body">
			<ul class="users-list clearfix">
			    <li style="width: 10%"; ng-repeat="connection in friends.connections">
			      <a href="" ng-click="changeState('profile.timeline', {uuid : connection.user.uuid})">
			      	<img ng-src="{{'/images/' + connection.user.image.uuid}}" alt="User Image">
			      </a>
			      <a class="users-list-name" href="" ng-click="changeState('profile.timeline', {uuid : connection.user.uuid})">
			      	{{connection.user.firstName}} {{connection.user.lastName}} 
			      </a>
			      <span class="users-list-date">{{connection.resolvedOn | date:defaultDateformat}}</span>
			    </li>
			</ul>
		</div>
	</div>
</div>