<div class="active tab-pane" id="pigeonProfile">

	<div class="box box-widget form-horizontal" style="padding: 10px;">
	
		<div class="box-header with-border">
			<b>{{pigeonProfile.pigeon.name}}</b>
		</div>
		<div class="box-header">
			<div class="col-md-12">
				<div class="box-body" ng-class="collapsed ? 'section-collapsed' : 'section-expended'">
					<div class="row">
		   				<div class="box-body col-sm-11 center-block">
							<img class="profile-pigeon-img img-responsive"  ng-src="{{'/images/' + pigeonProfile.pigeon.image.uuid}}" alt="Pigeon picture">
						</div>
		   			</div>
		   			<div class="row">
		   				<div class="col-sm-offset-4 col-md-9">
		   					<div>
			                     
			                </div>
		   				</div>
		   			</div>
		   			<div class="row">
		    			<div class="col-md-6">
		    				<div class="box-body">
				              	<div class="col-sm-12">
		    						<b class="col-sm-3" translate="PROFILE_PIGEONS_MAINSTREAM"></b>
				                    <span class="col-sm-9">{{pigeonProfile.pigeon.mainstream}}</span>
			                    </div>
			                    <div class="col-sm-12">
				                    <b class="col-sm-3" translate="PROFILE_PIGEONS_BREED"></b>
			                     	<span class="col-sm-9">{{pigeonProfile.pigeon.breed}}</span>
				                </div>
				                <div class="col-sm-12">
				                    <b class="col-sm-3" translate="PROFILE_PIGEONS_NAME"></b>
				                    <span class="col-sm-9">{{pigeonProfile.pigeon.name}}</span>
				              	</div>
							  	<div class="col-sm-12">
				                     <b class="col-sm-3" translate="PROFILE_PIGEONS_RING"></b>
				                     <span class="col-sm-9">{{pigeonProfile.pigeon.ring}}</span>
				                </div>
				                <div class="col-sm-12">
				                     <b class="col-sm-3" translate="PROFILE_PIGEONS_OWNER"></b>
				                     <span class="col-sm-9">{{pigeonProfile.pigeon.owner}}</span>
				                </div>
				                <div class="col-sm-12">
				                     <b class="col-sm-3" translate="PROFILE_PIGEONS_ORIGIN"></b>
				                     <span class="col-sm-9">{{pigeonProfile.pigeon.origin}}</span>
				                </div>
				                <div class="col-sm-12">
				                     <b class="col-sm-3" translate="PROFILE_PIGEONS_DYNASTY"></b>
				                     <span class="col-sm-9">{{pigeonProfile.pigeon.dynasty}}</span>
				                </div>
				           	</div>
		    			</div>
		    			<div class="col-md-6">
		    				<div class="box-body">
		    					<div class="col-sm-12">
		    						<b class="col-sm-4" translate="PROFILE_PIGEONS_SEX"></b>
									<div class="col-sm-8">
										<i class="fa fa-mars fa-2x" ng-if="pigeonProfile.pigeon.sex == 'COCK'"></i>
					                    <i class="fa fa-venus fa-2x" ng-if="pigeonProfile.pigeon.sex == 'HEN'"></i>
				                    </div>
		    					</div>
			    				<div class="col-sm-12">
				                	<b class="col-sm-4" translate="PROFILE_PIGEONS_DATEOFBIRTH"></b>
				                    <div class="col-sm-8">
							            <span>{{pigeonProfile.pigeon.dateOfBirth}}</span>
				                    </div>
				                </div>
				                <div class="col-sm-12">
				                	<b class="col-sm-4" translate="PROFILE_PIGEONS_DATEACQUIRED"></b>
				                    <div class="col-sm-8">
							            <span>{{pigeonProfile.pigeon.dateAcquired}}</span>
				                    </div>
				                </div>
				                <div class="col-sm-12">
				                	<b class="col-sm-4" translate="PROFILE_PIGEONS_DATEDISPOSEDOF"></b>
				                    <div class="col-sm-8">
			                    		<span>{{pigeonProfile.pigeon.dateDisposedOf}}</span>
				                    </div>
				                </div>
			                </div>
		    			</div>
		  			</div>
				</div>
			</div>
		</div>
		<div class="box-header" ng-controller="CollapseSectionCtrl" style="cursor: pointer;">
			<div class="col-md-12">
					<div class="box-header with-border border" ng-click="collapse()">
						<span>
							<b translate="PROFILE_PIGEONS_ACHIEVEMENTS"></b>
						</span>
						<div class="box-tools pull-right" >
							<button type="button" class="btn btn-box-tool">
								<i ng-class="collapsed ? 'fa fa-plus' : 'fa fa-minus'"></i>
							</button>
						</div>
					</div>
					<div class="box-body" ng-class="collapsed ? 'section-collapsed' : 'section-expended'">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-md-4">
									<ul>
										<li> {{'PRIZES'}} </li>
										<li ng-repeat="achievement in pigeonProfile.pigeon.achievementsMap.PRIZE">
											{{achievement.place}} {{achievement.race}} {{achievement.birds}} {{achievement.year}} {{achievement.description}}
										</li>
									</ul>
								</div>
								<div class="col-md-4">
									<ul>
										<li> {{'RESULTS'}} </li>
										<li ng-repeat="achievement in pigeonProfile.pigeon.achievementsMap.RESULT">
											{{achievement.place}} {{achievement.race}} {{achievement.birds}} {{achievement.year}} {{achievement.description}}
										</li>
									</ul>
								</div>
								<div class="col-md-4">
									<ul>
										<li> {{'TITLES'}} </li>
										<li ng-repeat="achievement in pigeonProfile.pigeon.achievementsMap.TITLE">
											{{achievement.place}} {{achievement.race}} {{achievement.birds}} {{achievement.year}} {{achievement.description}}
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
		<div class="box-header" ng-controller="CollapseSectionCtrl" style="cursor: pointer;">
			<div class="col-md-12">
					<div class="box-header with-border border" ng-click="collapse()">
						<span>
							<b translate="PROFILE_PIGEONS_DESCRIPTION"></b>
						</span>
						<div class="box-tools pull-right" >
							<button type="button" class="btn btn-box-tool">
								<i ng-class="collapsed ? 'fa fa-plus' : 'fa fa-minus'"></i>
							</button>
						</div>
					</div>
					<div class="box-body" ng-class="collapsed ? 'section-collapsed' : 'section-expended'">
						<div class="row">
			    			<div class="col-md-12">
			    				<div class="box-body">
			    					<div>
		                     			<div class="col-sm-12" ta-bind ng-model="pigeonProfile.pigeon.description"></div>
					                </div>
			    				</div>
			    			</div>
			    		</div>
					</div>
			</div>
		</div>
		
		<div class="box-footer">
			<button type="button" class="btn btn-default btn-xs" ng-click="shareLink()"><i class="fa fa-share"></i> Share</button>
	        <button type="button" class="btn btn-default btn-xs" ng-click="toogleLike()"><i class="fa" ng-class="isLiked() ? 'fa-thumbs-o-down' : 'fa-thumbs-o-up'"></i> {{isLiked() ? 'Unlike' : 'Like'}}</button>
	        <span class="pull-right text-muted">{{pigeonProfile.pigeon.likes.length}} likes - {{pigeonProfile.pigeon.comments.length}} comments</span>
		</div>
		<div class="box-footer box-comments" ng-hide="!pigeonProfile.pigeon.comments.length">
			
	        <div class="box-comment" ng-repeat="comment in pigeonProfile.pigeon.comments track by comment.id">
	            <!-- User image -->
	            <img class="img-circle img-sm" ng-src="{{'/images/' + comment.user.image.uuid}}" alt="User Image">
	
	            <div class="comment-text">
	                <span class="username">
		                {{comment.id}} {{comment.user.firstName}} {{comment.user.lastName}}
		                <span class="text-muted pull-right">{{comment.date}}</span>
	                </span>
	                <!-- /.username -->
	                <a href="" class="pull-right btn-box-tool" ng-click="deleteComment($index, comment.id)" ng-if="comment.user.uuid == currentUser.uuid || pigeonProfile.pigeon.user.uuid == currentUser.uuid">
	                	<i class="fa fa-times"></i>
	                </a>
	                {{comment.description}}
	            </div>
	            <!-- /.comment-text -->
	        </div>
	        <!-- /.box-comment -->
		</div>
		<!-- /.box-footer -->
		<div class="box-footer">
		    <form ng-submit="addComment(post.id)">
		        <img class="img-responsive img-circle img-sm" ng-src="{{'/images/' + currentUser.image.uuid}}" alt="Alt Text">
		        <div class="img-push">
		            <input type="text" class="form-control input-sm" placeholder="Press enter to post comment" ng-model="newCommentContent" ng-trim="true">
		        </div>
		    </form>
		</div> 
	</div>
</div>