<div class="active tab-pane" id="pigeonList">
	
	<div class="box box-widget" style="padding: 10px;">
	
		<div class="box-header with-border" ng-if="currentUser.uuid == pigeons.uuid">
			<div class="col-sm-4">
			</div>
			<div class="col-sm-4 nopadding-right">
				<a class="btn btn-primary btn-block" ng-click="pigeons.createNewPigeon()"><b>New Pigeon</b></a>
			</div>
			<div class="col-sm-4">
			</div>
		</div>
		
		<div class="box-body" infinite-scroll="loadPigeons()">
		
     		<ul class="products-list product-list-in-box">
                <li class="item" ng-repeat="pigeon in pigeons.pigeons">
                  <div class="product-img">
                  	<img class="profile-user-img img-responsive img-circle"  ng-src="{{'/images/' + pigeon.image.uuid}}" alt="Pigeon picture">
                  </div>
                  <div class="product-info">
					<a href="" class="product-title" ng-click="pigeons.openPigeonProfile(pigeon.uuid)">
						
					  <span class="pull-left" ng-class="pigeon.sex == 'HEN' ? 'text-red' : ''" style="margin-right: 5px;">
					  	<i class="fa fa-1x" ng-class="pigeon.sex == 'HEN' ? 'fa-venus' : 'fa-mars'"></i>
					  </span>
					  {{pigeon.name}}
					  <button type="button" class="btn btn-box-tool ng-scope pull-right" ng-if="pigeons.uuid == currentUser.uuid">
					  	<a href="" class="pull-right btn-box-tool" ng-click="deletePigeon(pigeon.id, $index)">
					  		<i class="fa fa-times"></i>
					  	</a>
					  </button>
					  
					</a>
					<span class="product-description">
						{{pigeon.name}} {{pigeon.breed}} {{pigeon.ring}}
					</span>
					   <span class="label label-success" ng-if="pigeon.achievementsMap.PRIZE.length > 0" style="margin-right: 5px;">
						{{pigeon.achievementsMap.PRIZE.length}} Prizes
					</span>
					<span class="label label-warning" ng-if="pigeon.achievementsMap.RESULT.length > 0" style="margin-right: 5px;">
						{{pigeon.achievementsMap.RESULT.length}} Results
					</span>
					<span class="label label-info" ng-if="pigeon.achievementsMap.TITLE.length > 0" style="margin-right: 5px;">
						{{pigeon.achievementsMap.TITLE.length}} Titles
					</span>
                  </div>
                </li>
              </ul>
  		</div>
   	</div>	
</div>