<div class="active tab-pane" id="newPigeon">

	<div class="box box-widget" style="padding: 10px;">
	
		<form class="form-horizontal ng-pristine ng-valid" ng-submit="pigeon.createNewPigeon()">
			<div class="box-header with-border">
				<b translate="PROFILE_PIGEONS_NEW_PIGEON"></b>
			</div>
			<div class="box-header">
				<div class="col-md-12">
						<div class="box-body">
							<div class="row">
				   				<div class="box-body col-sm-11 center-block">
									<div ngf-drop ngf-select ng-model="pigeon.file" class="center-block" ng-class="pigeon.file ? 'drop-box-preview' : 'drop-box'" ngf-drag-over-class="'dragover'" accept="image/*" ngf-pattern="'image/*'">
								    	<img ngf-src="!pigeon.file.$error && pigeon.file" ngf-resize="{width: 300, height: 200, quality: 0.9}" class="center-block">
									</div>
								</div>
				   			</div>
				   			<div class="row">
				   				<div class="col-sm-offset-4 col-md-9">
				   					<div class="form-group">
					                     
					                </div>
				   				</div>
				   			</div>
				   			<div class="row">
				    			<div class="col-md-6">
				    				<div class="box-body">
						              	<div class="form-group">
				    						<label for="inputMainstream" class="col-sm-2 control-label" translate="PROFILE_PIGEONS_MAINSTREAM"></label>
						                    <div class="col-sm-9">
						                          <input type="checkbox" id="inputMainstream" style="margin-top: 10px;" ng-model="pigeon.pigeon.mainstream">
						                    </div>
					                    </div>
					                    <div class="form-group">
						                     <label for="inputBreed" class="col-sm-2 control-label" translate="PROFILE_PIGEONS_BREED"></label>
						                     <div class="col-sm-9">
						                          <input type="text" class="form-control" id="inputBreed" placeholder="{{ 'PROFILE_PIGEONS_BREED' | translate}}" ng-model="pigeon.pigeon.breed" required>
						                     </div>
						                </div>
						                <div class="form-group">
						                    <label for="inputName" class="col-sm-2 control-label" translate="PROFILE_PIGEONS_NAME"></label>
						                    <div class="col-sm-9">
						                          <input type="text" class="form-control" id="inputName" placeholder="{{ 'PROFILE_PIGEONS_NAME' | translate}}" ng-model="pigeon.pigeon.name" required>
						                    </div>
						              	</div>
									  	<div class="form-group">
						                     <label for="inputRing" class="col-sm-2 control-label" translate="PROFILE_PIGEONS_RING"></label>
						                     <div class="col-sm-9">
						                          <input type="text" class="form-control" id="inputRing" placeholder="{{ 'PROFILE_PIGEONS_RING' | translate}}" ng-model="pigeon.pigeon.ring">
						                     </div>
						                </div>
						                <div class="form-group">
						                     <label for="inputOwner" class="col-sm-2 control-label" translate="PROFILE_PIGEONS_OWNER"></label>
						                     <div class="col-sm-9">
						                          <input type="text" class="form-control" id="inputOwner" placeholder="{{ 'PROFILE_PIGEONS_OWNER' | translate}}" ng-model="pigeon.pigeon.owner">
						                     </div>
						                </div>
						                <div class="form-group">
						                     <label for="inputOrigin" class="col-sm-2 control-label" translate="PROFILE_PIGEONS_ORIGIN"></label>
						                     <div class="col-sm-9">
						                          <input type="text" class="form-control" id="inputOrigin" placeholder="{{ 'PROFILE_PIGEONS_ORIGIN' | translate}}" ng-model="pigeon.pigeon.origin">
						                     </div>
						                </div>
						                <div class="form-group">
						                     <label for="inputBreed" class="col-sm-2 control-label" translate="PROFILE_PIGEONS_DYNASTY"></label>
						                     <div class="col-sm-9">
						                          <input type="text" class="form-control" id="inputDynasty" placeholder="{{ 'PROFILE_PIGEONS_DYNASTY' | translate}}" ng-model="pigeon.pigeon.dynasty">
						                     </div>
						                </div>
						           	</div>
				    			</div>
				    			<div class="col-md-6">
				    				<div class="box-body">
				    					<div class="form-group">
				    						<label for="inputSex" class="col-sm-3 control-label" translate="PROFILE_PIGEONS_SEX"></label>
											<div class="col-sm-9">
												<div class="col-sm-5">
											    	<input type="radio" id="inputSexCock" style="margin-top: 10px;" ng-model="pigeon.pigeon.sex" value="COCK">  <i class="fa fa-mars fa-2x"></i>
											    </div>
												<div class="col-sm-5">
							                          <input type="radio" id="inputSexHen" style="margin-top: 10px;" ng-model="pigeon.pigeon.sex" value="HEN">  <i class="fa fa-venus fa-2x"></i>
							                     </div>
						                     </div>
				    					</div>
					    				<div class="form-group">
						                	<label for="inputDateOfBirth" class="col-sm-3 control-label" translate="PROFILE_PIGEONS_DATEOFBIRTH"></label>
						                    <div class="col-sm-9" ng-controller="DatePickerCtrl">
					                    		<p class="input-group" style="margin-bottom: 0px;">
							                    	<input type="text" class="form-control" id="inputDateOfBirth" uib-datepicker-popup="{{defaultDateformat}}" is-open="status.opened" 
							                    		min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" show-button-bar="false"
							                    		close-text="Close" ng-model="pigeon.pigeon.dateOfBirth" placeholder="{{ 'PROFILE_PIGEONS_DATEOFBIRTH' | translate}}"/>
										            <span class="input-group-btn">
										            	<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
										            </span>
									            </p>
						                    </div>
						                </div>
						                <div class="form-group">
						                	<label for="inputDateAcquired" class="col-sm-3 control-label" translate="PROFILE_PIGEONS_DATEACQUIRED"></label>
						                    <div class="col-sm-9" ng-controller="DatePickerCtrl">
					                    		<p class="input-group" style="margin-bottom: 0px;">
							                    	<input type="text" class="form-control" id="inputDateAcquired" uib-datepicker-popup="{{defaultDateformat}}" is-open="status.opened" 
							                    		min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" show-button-bar="false"
							                    		close-text="Close" ng-model="pigeon.pigeon.dateAcquired" placeholder="{{ 'PROFILE_PIGEONS_DATEACQUIRED' | translate}}"/>
										            <span class="input-group-btn">
										            	<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
										            </span>
									            </p>
						                    </div>
						                </div>
						                <div class="form-group">
						                	<label for="inputDateDisposedOf" class="col-sm-3 control-label" translate="PROFILE_PIGEONS_DATEDISPOSEDOF"></label>
						                    <div class="col-sm-9" ng-controller="DatePickerCtrl">
					                    		<p class="input-group" style="margin-bottom: 0px;">
							                    	<input type="text" class="form-control" id="inputDateDisposedOf" uib-datepicker-popup="{{defaultDateformat}}" is-open="status.opened" 
							                    		min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" show-button-bar="false"
							                    		close-text="Close" ng-model="pigeon.pigeon.dateDisposedOf" placeholder="{{ 'PROFILE_PIGEONS_DATEDISPOSEDOF' | translate}}"/>
										            <span class="input-group-btn">
										            	<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
										            </span>
									            </p>
						                    </div>
						                </div>
					                </div>
				    			</div>
				  			</div>
						</div>
				</div>
			</div>
			<div class="box-header" ng-controller="CollapseSectionCtrl" style="cursor: pointer;">
				<div class="col-md-12">
						<div class="box-header with-border border" ng-click="collapse()">
							<span>
								<b translate="PROFILE_PIGEONS_ACHIEVEMENTS"></b>
							</span>
							<div class="box-tools pull-right" >
								<button type="button" class="btn btn-box-tool">
									<i ng-class="collapsed ? 'fa fa-plus' : 'fa fa-minus'"></i>
								</button>
							</div>
						</div>
						<div class="box-body" ng-class="collapsed ? 'section-collapsed' : 'section-expended'">
							<div class="col-sm-4">
								<div class="row">
									<div class="form-group">
										<label for="inputAchievementType" class="col-sm-3 control-label" translate="PROFILE_PIGEONS_ACHIEVEMENT_TYPE"></label>
					                    <div class="col-sm-9">
					                    	<select type="text" class="form-control" id="inputAchievementType" ng-model="pigeon.achievement.type" placeholder="{{ 'PROFILE_PIGEONS_ACHIEVEMENT_TYPE' | translate}}">
					                    		<option value="PRIZE" translate="PROFILE_PIGEONS_ACHIEVEMENT_TYPE_PRIZE"></option>
					                    		<option value="RESULT" translate="PROFILE_PIGEONS_ACHIEVEMENT_TYPE_RESULT"></option>
					                    		<option value="TITLE" translate="PROFILE_PIGEONS_ACHIEVEMENT_TYPE_TITLE"></option>
					                    	</select>
					                    </div>
					                </div>
					    		</div>
					    		<div class="row">
				   					<div class="form-group">
				   						<label for="inputAchievementPlace" class="col-sm-3 control-label" translate="PROFILE_PIGEONS_ACHIEVEMENT_PLACE"></label>
					                    <div class="col-sm-9">
					                    	<input type="number" ng-min="0" class="form-control" id="inputAchievementPlace" ng-model="pigeon.achievement.place" placeholder="{{ 'PROFILE_PIGEONS_ACHIEVEMENT_PLACE' | translate}}"/>
					                    </div>
					                </div>
					    		</div>
					    		<div class="row">
				   					<div class="form-group">
				   						<label for="inputAchievementYear" class="col-sm-3 control-label" translate="PROFILE_PIGEONS_ACHIEVEMENT_YEARS"></label>
					                    <div class="col-sm-9">
					                    	<input type="number" class="form-control" id="inputAchievementYear" ng-model="pigeon.achievement.year" placeholder="{{ 'PROFILE_PIGEONS_ACHIEVEMENT_YEARS' | translate}}"/>
					                    </div>
					                </div>
					    		</div>
					    		<div class="row">
				   					<div class="form-group">
				   						<label for="inputAchievementDescription" class="col-sm-3 control-label" translate="PROFILE_PIGEONS_ACHIEVEMENT_DESCRIPTION"></label>
					                    <div class="col-sm-9">
					                    	<textarea rows="3" class="form-control" id="inputAchievementDescription" ng-model="pigeon.achievement.description" placeholder="{{ 'PROFILE_PIGEONS_ACHIEVEMENT_DESCRIPTION' | translate}}"></textarea>
					                    </div>
					                </div>
					    		</div>
					    		<div class="row">
				   					<div class="form-group">
				   						<div class="col-sm-11">
				                    		<button type="button" class="btn btn-danger pull-right" translate="PROFILE_PIGEONS_ACHIEVEMENT_SAVE" ng-click="pigeon.addAchievement()"></button>
				                    	</div>
					                </div>
					    		</div>
							</div>
							<div class="col-sm-8">
								<div class="row">
									<div class="col-md-12">
										<ul>
											<li ng-repeat="achievement in pigeon.pigeon.achievements">
												{{achievement.type}} {{achievement.place}} {{achievement.race}} {{achievement.birds}} {{achievement.year}} {{achievement.description}}
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
			<div class="box-header" ng-controller="CollapseSectionCtrl" style="cursor: pointer;">
				<div class="col-md-12">
						<div class="box-header with-border border" ng-click="collapse()">
							<span>
								<b translate="PROFILE_PIGEONS_DESCRIPTION"></b>
							</span>
							<div class="box-tools pull-right" >
								<button type="button" class="btn btn-box-tool">
									<i ng-class="collapsed ? 'fa fa-plus' : 'fa fa-minus'"></i>
								</button>
							</div>
						</div>
						<div class="box-body" ng-class="collapsed ? 'section-collapsed' : 'section-expended'">
							<div class="row">
				    			<div class="col-md-12">
				    				<div class="box-body">
				    					<div class="form-group">
						                     <div class="col-sm-12">
						                          <div id="inputDescription" ng-model="pigeon.pigeon.description" text-angular></div>
						                     </div>
						                </div>
				    				</div>
				    			</div>
				    		</div>
						</div>
				</div>
			</div>
			<div class="box-body">
	    		<div class="row">
	    			<div class="col-md-12">
		           		<div class="form-group">
			                 <div class="col-sm-12">
		                    	<button type="submit" class="btn btn-danger center-block" translate="PROFILE_PIGEONS_SAVE"></button>
			                 </div> 
		              	</div>
		             </div>
	    		</div>
			</div>
		</form>
	</div>
</div>