<div class="active tab-pane" id="timeline">
	
	<new-post-widget posts="timeline.posts" user="currentUser" ng-if="profile.userInfoData.uuid == currentUser.uuid"></new-post-widget>

	<div class="box box-widget" ng-repeat="post in timeline.posts track by post.id">
		<post posts="timeline.posts" post="post" user="currentUser" index="$index"></post>
	</div>
			
</div>